/* colors */
$primary-color: #020e27;
$container-color: #394b73;
$comp-color: #87A2D4;
$text-color: #cfddf7;

$accent-color: #fb6d6c;

/* fonts */
$primary-ff: Montserrat, Arial, Helvetica;
$accent-ff: Prosto One, Arial, Helvetica;

/* placeholders */
%noBullets {
  list-style: none;
}

%link {
  color: $text-color;

  &:hover {
    color: $accent-color;
  }
}

%heading2 {
  color: $accent-color;
  font-size: 2rem;
  margin-bottom: .8em;
  text-align: center;
}

%heading3 {
  color: $comp-color;
  font-size: 1.4rem;
  text-align: center;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
}


