/* colors */
$color-primary: #020e27;
$color-container: #394b73;
$color-comp: #87A2D4;
$color-text: #cfddf7;
$color-accent: #fb6d6c;

/* fonts */
$ff-primary: Montserrat, Arial, Helvetica;
$ff-accent: Prosto One, Arial, Helvetica;

/* placeholders */
%noBullets {
  list-style: none;
}

%link {
  color: $color-text;

  &:hover {
    color: $color-accent;
  }
}

%heading2 {
  color: $color-accent;
  font-size: 2rem;
  margin: -2em auto auto;
  text-align: center;
  padding: 4.2em 0 .5em;
  box-sizing: content-box;

  @media (min-width: $bp-max-xl) {
      font-size: 3rem;
    }
}

%heading3 {
  color: $color-comp;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2em;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
}

/* break points*/

$bp-max-s: 30em; //480px
$bp-max-m: 48em; //768px
$bp-max-l: 64em; //1024px
$bp-max-xl: 75em; //1200px
$bp-max-xxl: 81.35em; //1300px




