/* colors */
$color-primary: #020e27;
$color-container: #394b73;
$color-comp: #87A2D4;
$color-text: #cfddf7;
$color-accent: #fb6d6c;

/* fonts */
$ff-primary: Montserrat, Arial, Helvetica;
$ff-accent: Prosto One, Arial, Helvetica;

/* break points*/
$bp-max-s: 30em; //480px
$bp-max-m: 48em; //768px
$bp-max-l: 64em; //1024px
$bp-max-xl: 75em; //1200px
$bp-max-xxl: 81.35em; //1300px

/* placeholders */
%noBullets {
  list-style: none;
}

%link {
  color: $color-text;

  &:hover {
    color: $color-accent;
  }
}

%heading2 {
  color: $color-accent;
  font-size: 2rem;
  text-align: center;
  padding: 3em 0 .5em;
  box-sizing: content-box;
  position: relative;

  &::after {
    content: "";
    position: relative;
    display: block;
    height: .1em;
    width: 100%;
    background-image: linear-gradient(to right, #020e27,
          #de6365, #020e27);
    top: .25em;
  }

  @media (min-width: $bp-max-xl) {
      font-size: 3rem;
    }
}

%heading3 {
  color: $color-comp;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2em;

  @media (min-width: $bp-max-xl) {
    font-size: 2rem;
  }
}

/* reset */
* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
}
