@use 'base';

/*=================================================
General
=================================================*/
body {
  background-color: base.$color-primary;
  color: base.$color-text;
  font-family: base.$ff-primary;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: base.$color-primary;
    font-family: base.$ff-accent;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 1em;

    &__logo {
      display: flex;
      text-align: left;
    }

    &__logoText {
      align-self: center;
      font-size: 1.8rem;
      margin: 0;
      color: base.$color-comp;
    }

}

.nav {
  &__ul{
    @extend %noBullets;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__link{
    @extend %link;
  }
}

.main__title {
  text-align: left;
  font-size: 1.2rem;
  color: base.$color-accent;
  padding: .5em .8em;
}

/*=================================================
About
=================================================*/
.about {
  &__header {
    @extend %heading2;
  }

  &__para {
    margin: 0 1em 1em;
    line-height: 1.3em;
  }

  &__link-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    @extend %link;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*=================================================
Tools & Technology
=================================================*/
.techContainer {
  &__header {
      @extend %heading2;
    }

  &__techList {
    @extend %noBullets;
    background: base.$color-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    border-radius: 1.2em;
  }
}

.techList {

  &__techItem {
    min-width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }
}

/*=================================================
Projects
=================================================*/
.project {
  &__header {
    @extend %heading2;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
  }

  &__name {
    @extend %heading3;
  }

  &__link-container {
    display: flex;
    gap: 1em;
    padding-bottom: 3em;
  }

  &__link {
    @extend %link;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

}

/*==============================================
Recommendations
==============================================*/
.recs{
  &__container {
    margin: 0 1em;
    line-height: 1.4em;
  }

  &__header {
      @extend %heading2;
    }
  &__content {
    padding-bottom: 1em;
  }

  &__name {
    color: base.$color-comp;
    font-size: 1.2rem;
  }

  &__relationship{
    color: base.$color-comp;
    font-style: italic;
    margin-bottom: 1.5em;
  }
}
