@use 'base';

/*=================================================
General
=================================================*/
body {
  background-color: base.$primary-color;
  color: base.$text-color;
  font-family: base.$primary-ff;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: base.$primary-color;
    font-family: base.$accent-ff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 1em;

    &__logo {
      display: flex;
      text-align: left;
    }

    &__logoText {
      align-self: center;
      font-size: 2.5rem;
      margin: 0;
      color: base.$comp-color;
    }

}

.nav {
  &__ul{
    @extend %noBullets;
  }

  &__link{
    @extend %link;
    padding: 0 .5em;
    text-align: end;
  }
}

.main__title {
  text-align: left;
  font-size: 1.2rem;
  color: base.$accent-color;
  padding: 0 1em;
}

/*=================================================
About
=================================================*/
.about {
  &__header {
    @extend %heading2;
  }

  &__para {
    margin: 1em;
    line-height: 1.3em;
  }

  &__link-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    @extend %link;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*=================================================
Tools & Technology
=================================================*/
.techContainer {
  &__header {
      @extend %heading2;
      margin: 2em 0 .8em;
    }

  &__techList {
    @extend %noBullets;
    background: base.$container-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    border-radius: 1.2em;
  }
}

.techList {

  &__techItem {
    min-width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }
}

/*=================================================
Projects
=================================================*/
.project {
  &__header {
    @extend %heading2;
    margin: 2em 0 .8em;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
  }

  &__name {
    color: base.$comp-color;
    font-size: 1.4em;
    text-align: center;
    margin-top: .5em;
  }

  &__link-container {
    display: flex;
    gap: 1em;
    padding-bottom: 3em;
  }

  &__link {
    @extend %link;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

}

/*==============================================
Recommendations
==============================================*/
.recs{
  &__container {
    margin: 0 1em;
    line-height: 1.4em;
  }

  &__header {
      @extend %heading2;
      margin: 2em 0 .8em;
    }
  &__content {
    padding-bottom: 1em;
  }

  &__name {
    color: base.$comp-color;
    font-size: 1.2rem;
  }

  &__relationship{
    color: base.$comp-color;
    font-style: italic;
    margin-bottom: 1em;
  }
}
