@use 'base';

/*=================================================
General
=================================================*/
body {
  background-color: base.$color-primary;
  color: base.$color-text;
  font-family: base.$ff-primary;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: base.$color-primary;
    font-family: base.$ff-accent;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 1em;
    align-items: flex-end;

    &__logo {
      display: flex;
      text-align: left;
    }

    &__logoText {
      align-self: center;
      font-size: 1.8rem;
      margin: 0;
      color: base.$color-comp;
      max-width: 4em;

      @media (min-width: base.$bp-max-s) {
        font-size: 2.5rem;
        max-width: 4em;
      }
    }

}

.nav {
  &__ul{
    @extend %noBullets;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: base.$bp-max-m) {
      flex-direction: row;
      gap: 1.6em;
    }

  }

  &__link{
    @extend %link;
  }
}

.main__title {
  text-align: left;
  font-size: 1.2rem;
  color: base.$color-accent;
  padding: .5em .8em;
}

/*=================================================
About
=================================================*/
.about {
  margin: 0 1em;

  @media (min-width: base.$bp-max-s) {
    margin: auto;
    width: 90%;
    max-width: base.$bp-max-m + 2;
  }

  &__header {
    @extend %heading2;
  }

  &__para {
    line-height: 1.3em;
    margin-bottom: 1em;
  }

  &__link-container {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    @extend %link;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*=================================================
Tools & Technology
=================================================*/
.techContainer {
  &__header {
      @extend %heading2;
    }

  &__techList {
    @extend %noBullets;
    background: base.$color-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    padding: 1em;
    border-radius: 1.5em;
    gap: 1em;
  }
}

.techList__techItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 17%;
}

/*=================================================
Projects
=================================================*/
.project {
  &__container {
    margin: 0 1em;

    @media (min-width: base.$bp-max-s){
      margin: auto;
      max-width: 48em;
      width: 90%;
    }
  }

  &__header {
    @extend %heading2;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: base.$bp-max-l) {
      flex-direction: row;
    }
  }

  &__name {
    @extend %heading3;
  }

  &__link-container {
    display: flex;
    gap: 1em;
    padding-bottom: 3em;
  }

  &__link {
    @extend %link;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

}

/*==============================================
Recommendations
==============================================*/
.recs{
  &__container {
    margin: 0 1em;
    line-height: 1.4em;

    @media (min-width: base.$bp-max-s) {
        margin: auto;
        max-width: 48em;
        width: 90%;
      }
  }

  &__header {
      @extend %heading2;
    }
  &__content {
    padding-bottom: 1em;
  }

  &__name {
    color: base.$color-comp;
    font-size: 1.2rem;
  }

  &__relationship{
    color: base.$color-comp;
    font-style: italic;
    margin-bottom: 1.5em;
  }
}


// temp mixins
@media (min-width: base.$bp-max-s) {
  body {
    color: orangered;
  }
}

@media (min-width: base.$bp-max-m) {
  body {
    color: orchid;
  }
}

@media (min-width: base.$bp-max-l) {
  body {
    color: wheat;
  }
}

@media (min-width: base.$bp-max-xl) {
  body {
    color: greenyellow;
  }
}
