body {
  background-color: #e0c0f0;
}

.about {
  &__link-container {
    display: flex;
    justify-content: space-evenly;
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
