@use './partials/variables';

/* Reset */
* {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

/* Overall Styles */

body {
  background-color: variables.$primary-color;
  color: variables.$text-color;
  font-family: variables.$primary-ff;
}

.about {
  &__link-container {
    display: flex;
    justify-content: space-evenly;
  }
  &__link{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
